.chat-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 40rem; */
    width: 60rem;
    background: #363636;
    border: 2px solid #927BCA;
    border-radius: 2rem;
    overflow: hidden;
}
    /* width */
    ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #927BCA;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4d3f6f;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #363636; 
  }

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid  #927BCA;
}

.header-left {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 1rem;

}


h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.sender-left {
    color: white;
    display: block;
    font-style: italic;
    font-size: 10px;
    margin-top: -12px;
    padding-bottom: .5rem;
    align-self:flex-start;
}

.sender-right {
    color: white;
    display: block;
    font-style: italic;
    font-size: 10px;
    margin-top: -12px;
    padding-bottom: .5rem;
    align-self: flex-end;
}

span {
    color: #927BCA;
}

.header-right {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 1rem;
}

.flex-div {
    display: flex;
    height: 100%;
    width: 100%;
}
.rooms {
    width: 40%;
    border-right: 2px solid  #927BCA;;
    border-top: 1px solid  #927BCA;;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.rooms-item {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

.rooms-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    font-size: .8rem;
}
.chat {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-top: 1px solid  #927BCA;
}

input {
    flex-grow: 1;
    padding: .5rem;
    margin: .5rem;
    background: #DED7FF;
    border-radius: 1rem;
    outline: none;
    border: none;

}

.li {
    text-decoration: none;
}

.message-container {
    margin: 0;
    padding: .5rem .5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #927BCA;
    height: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.message-left {
    border-radius: 20px 20px 20px 0px;
    padding: 0 .5rem;
    align-self: flex-start;
    background-color: #363636;
    color: #f6f6f6;
    margin-bottom: 1rem;
}

.message-right {
    margin: 0;
    padding: 0 .5rem;
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #363636;
    color: #f6f6f6;
    margin-bottom: 1rem;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

.name {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

#modal {
    background-color: #363636;
    border-radius: 2rem;
    border: 2px solid #927BCA;;
}