.join-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 38.7rem;
    width: 60rem;
    background: #363636;
    border: 2px solid #927BCA;
    border-radius: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}


label, h2 {
    color: #927BCA;
}

.btn-link {
    background: #927BCA;
    font-size: 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    padding: .5rem;
    outline: none;
    border: 3px solid #4d3f6f;
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 11px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 35px 0px rgba(0,0,0,0.75);
}

.name-input {
    margin: 2rem 0 2rem 0.5rem;
    width: 70%;
    border: 3px solid #4d3f6f;
    -webkit-box-shadow: 0px 11px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 35px 0px rgba(0,0,0,0.75);
   
}

.input-div {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.input-div > input {
    background: #927BCA;
    border-radius: 1rem;
    outline: none;
    border: none;
    padding: .5rem;
    margin-left: .5rem;
}

@media (max-width: 40em) {

    .join-div {
        width: 19rem;
        
    }
}

